/* 版心 */
.banner {
  width: 100%;
  text-align: center;
  margin-top: 2.5rem;
}

.banner img {
  display: block;
  width: 100%;
}

/* 内容区域 */
.con {
  width: 100%;
  padding: .5rem;
  box-sizing: border-box;
}

.con .con_01,
.con .con_02,
.con .con_03,
.con .con_04,
.con .con_05 {
  width: 100%;
  margin-bottom: 1.5rem;
}

.con .con_01>.title,
.con .con_02>.title,
.con .con_03>.title,
.con .con_05>.title {
  width: 100%;
  height: 2rem;
  text-align: center;
}

.con .con_01>.title h3,
.con .con_02>.title h3,
.con .con_03>.title h3,
.con .con_05>.title h3 {
  font-size: 1rem;
  color: #ff8800;
  position: relative;
  line-height: 1.5rem;
}

.con .con_01 .title i,
.con .con_02 .title i,
.con .con_03 .title i,
.con .con_05 .title i {
  display: block;
  width: 5rem;
  height: .1rem;
  background-color: #EA0000;
  margin: 0 auto;
}

.con .con_01 .box,
.con .con_03 .box,
.con .con_04 .box {
  width: 100%;
  background-color: #D2E9FF;
  overflow: hidden;
  text-align: center;
  border-radius: .5rem;
}

.con .con_01 .box .title,
.con .con_02 .box .title,
.con .con_03 .box .title,
.con .con_04 .box .title {
  width: 100%;
  text-align: left;
  margin-top: .8rem;
  margin-left: .5rem;
}

.con .con_01 .box>.title h3,
.con .con_02 .box>.title h3,
.con .con_03 .box>.title h3,
.con .con_04 .box>.title h3 {
  font-size: .8rem;
  color: #02C874;
}

.con .con_01 .box>.title h3 span,
.con .con_02 .box>.title h3 span,
.con .con_03 .box>.title h3 span,
.con .con_04 .box>.title h3 span {
  display: inline-block;
  width: .3rem;
  height: 1rem;
  background-color: #02C874;
  vertical-align: middle;
  margin-right: .5rem;
}

.con .con_01 .box>.title>p,
.con .con_04 .box>.title>p {
  font-size: .7rem;
  color: #6C6C6C;
  margin-left: 1rem;
}

.con .con_01 .box>.title>p>span {
  font-size: 1.5rem;
  color: #EA0000;
  font-weight: 700;
  margin-right: .5rem;
}

.con .con_01 .box ul,
.con .con_02 .box ul {
  width: 100%;
  display: flex;
  margin-top: .5rem;
}

.con .con_01 .box ul li,
.con .con_02 .box ul li {
  flex: 1;
  margin: 0 .3rem;
  border: 1px dashed #555;
  padding: .2rem;
  box-sizing: border-box;
}

.con .con_01 .box ul li h3,
.con .con_02 .box ul li h3 {
  font-size: .7rem;
  color: #9F4D95;
}

.con .con_01 .box ul li h3 span {
  display: inline-block;
  padding: .15rem;
  box-sizing: border-box;
  text-align: center;
  line-height: 1rem;
  background-color: #4F9D9D;
  color: #fff;
  border-radius: .3rem;
  margin-right: .5rem;
}

.con .con_01 .box ul li h3 p {
  text-align: right;
  margin-right: .2rem;
  font-size: .7rem;
}

.con .con_01 .box ul li>p {
  font-size: .6rem;
  margin-top: .5rem;
  color: #555;
  text-align: left;
}

.con .con_01 .box img {
  display: block;
  width: 60%;
  margin: 0 auto;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.con .con_02 .box {
  width: 100%;
  background-color: #FFF8D7;
  border-radius: .5rem;
  overflow: hidden;

}

.con .con_02 .box .title>p {
  font-size: .65rem;
  text-indent: 2em;
  width: 95%;
}

.con .con_02 .box .top {
  width: 100%;
  text-align: center;
  background-color: #484891;
  padding: .3rem 0rem;
  box-sizing: border-box;
  margin-top: .5rem;
}

.con .con_02 .box .top h3 {
  font-size: .9rem;
  color: #4DFFFF;
  border-top: 1px solid #fff;
}

.con .con_02 .box .top h3 span {
  font-size: 1.5rem;
  font-weight: 700;
  color: #EA0000;
}

.con .con_02 .box .top p {
  font-size: .73rem;
  color: #4DFFFF;
  border-bottom: 1px solid #fff;
  padding-bottom: .3rem;
  box-sizing: border-box;
}

.con .con_02 ul {
  margin-bottom: .5rem;
}

.con .con_02 ul li {
  text-align: center;
}

.con .con_02 ul li img {
  display: block;
  width: 100%;
}

.con .con_03 .box {
  text-align: center;
  margin-top: .5rem;
}

.con .con_03 .box img {
  display: block;
  width: 100%;
}

.con .con_04 .box {
  background-color: #EBD3E8;
}

.con .con_04 .box ul {
  width: 100%;
}

.con .con_04 .box ul li {
  overflow: hidden;
}

.con .con_04 .box ul li img {
  display: block;
  width: 7rem;
  float: left;
  border: 2px solid #fff;
  margin: .5rem;
}

.con .con_04 .box ul li .fr {
  width: 10rem;
  float: right;
  margin-top: .5rem;
}

.con .con_04 .box ul li .fr h3 {
  display: inline-block;
  font-size: .8rem;
  color: #fff;
  background-color: #FF5809;
  border-radius: .3rem;
  padding: 0.2rem .5rem;
  box-sizing: border-box;
}

.con .con_04 .box ul li .fr p {
  font-size: .7rem;
  text-align: left;
}

.con .con_04 .box .ts {
  width: 100%;
  background-color: #A6FFA6;
  overflow: hidden;
  margin-bottom: .5rem;
  padding: .3rem;
  box-sizing: border-box;
}

.con .con_04 .box .ts img {
  display: block;
  width: 2rem;
  float: left;
  margin-top: .8rem;
  margin-right: .3rem;
}

.con .con_04 .box .ts p {
  font-size: .75rem;
  color: #333;
  text-align: left;
  border-top: 1px dashed #333;
  border-bottom: 1px dashed #333;
  padding: .3rem;
  box-sizing: border-box;
}

.con .con_05,
.con .con_06 {
  width: 100%;
  text-align: center;
}

.con .con_05 img,
.con .con_06 img {
  display: block;
  width: 100%;
  border-radius: .5rem;
}


/* 联系按钮 */
.but_btn {
  width: 100%;
  padding: 0rem 1.1rem;
  box-sizing: border-box;
}

.but_btn h3 {
  font-size: .8rem;
  text-align: center;
  color: #0066CC;
  line-height: 2rem;
}

.but_btn .fl,
.but_btn .fr {
  width: 45%;
  background-color: #ff8000;
  border-radius: 0.4rem;
  padding: 0.266667rem;
  box-sizing: border-box;
  margin-bottom: .8rem;
  margin-top: .5rem;
}

.but_btn .fl a {
  letter-spacing: 0px;
}

.but_btn div a {
  width: 100%;
  display: block;
  text-align: center;
  font-size: .8rem;
  font-weight: 600;
  color: #fff;
}

.but_btn div a span {
  display: inline-block;
  width: 1.4rem;
  height: 1.2rem;
  background: url(../../images/photo_02.png)no-repeat center / 1.4rem 1.2rem;
  vertical-align: middle;
}

.but_btn .fl a span {
  background: url(../../images/zx.png)no-repeat center / 1.4rem 1.2rem;
  margin-right: 0.4rem;
}

.but_btn div:first-child a {
  margin-top: 0.133333rem;
}


.but_btn .fl {
  float: left;
  position: relative;
}

.but_btn .fr {
  float: right;
  background-color: #AE57A4;
  position: relative;
}


.but_btn .fl:after,
.but_btn .fr:after {
  position: absolute;
  width: 110%;
  height: 1.8rem;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  top: -.0rem;
  left: -.55rem;
  border-radius: 0.4rem;
  padding: 0;
  z-index: -1;
  box-shadow: 0 0 0 2px #ff8000;
  opacity: 1;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-animation: but_01_sonarEffect 1.3s ease-out 75ms infinite;
  animation: but_01_sonarEffect 1.3s ease-out 75ms infinite;
}

@-webkit-keyframes but_01_sonarEffect {
  0% {
    opacity: 0.3;
  }

  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #FF7D00, 0 0 0 10px rgba(255, 255, 255, 0.5);
  }

  100% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #FF7D00, 0 0 0 10px rgba(255, 255, 255, 0.5);
    transform: scale(.9);
    opacity: 0;
  }
}


.but_btn .fr:after {
  width: 110%;
  box-shadow: 0 0 0 2px #AE57A4;
  right: 0px;
  -webkit-animation: but_02_sonarEffect 1.3s ease-out 75ms infinite;
  animation: but_02_sonarEffect 1.3s ease-out 75ms infinite;
}

@-webkit-keyframes but_02_sonarEffect {
  0% {
    opacity: 0.3;
  }

  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #AE57A4, 0 0 0 10px rgba(255, 255, 255, 0.5);
  }

  100% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #AE57A4, 0 0 0 10px rgba(255, 255, 255, 0.5);
    transform: scale(.9);
    opacity: 0;
  }
}

.clear {
  clear: both
}





/* 适配平板 pro */
@media only screen and (max-width: 1024px) {

  .btn:after {
    height: 2rem;
  }
}

/* 适配平板 */
@media only screen and (max-width: 768px) {

  .btn:after {
    height: 2.1rem;
  }

  .but_btn .fl:after,
  .but_btn .fr:after {
    left: -.35rem;
  }
}



/* 适配 Galaxy s5 */
@media only screen and (max-width: 360px) {

  .btn .fl:after,
  .btn .fr:after {
    left: -.45rem;
  }
}



/* 适配 Photo 5s */
@media only screen and (max-width: 320px) {

  .btn .fl:after,
  .btn .fr:after {
    left: -.4rem;
  }
}