/* 版心 */
.banner {
  width: 100%;
  text-align: center;
  margin-top: 2.5rem;
}

.banner img {
  display: block;
  width: 100%;
}

/* 内容区域 */
.con {
  width: 100%;
  overflow: hidden;
}

.con .con_team {
  width: 100%;
  padding: 0.533333rem;
  box-sizing: border-box;
}

.con .con_team .title {
  height: 2rem;
  text-align: center;
}

.con .con_team .title h3 {
  font-size: 1.1rem;
  color: #ff8000;
}

.con .con_team .lis {
  width: 100%;
  padding: 1rem 0rem;
  box-sizing: border-box;
}

.con .con_team .lis .lis_box {
  width: 88%;
  border: 1px solid #788CA0;
  position: relative;
  box-shadow: 0px 5px 10px #333;
}

.con .con_team .lis .lis_box .lis_fl {
  width: 85%;
  padding: 0rem 0rem .5rem .5rem;
  box-sizing: border-box;
}

.con .con_team .lis .lis_box .lis_fl h3 {
  font-size: 1rem;
  color: #8F4586;
  background-color: #fff;
  display: block;
  margin-top: -0.8rem;
  margin-left: 1.5rem;
  padding: 0px .5rem;
  width: 6rem;
}

.con .con_team .lis .lis_box .lis_fl h3.er,
.con .con_team .lis .lis_box .lis_fl h3.san {
  width: 9.3rem !important;
}

.con .con_team .lis .lis_box .lis_fl h3.si {
  width: 7.7rem !important;
}

.con .con_team .lis .lis_box .lis_fl h3.wu {
  width: 8.8rem !important;
}






.con .con_team .lis .lis_box .lis_fl h3 i {
  font-size: .7rem;
  color: #4F9D9D;
}

.con .con_team .lis .lis_box .lis_fl p {
  font-size: .7rem;
  line-height: 1.1rem;
}



.con .con_team .lis .lis_box .lis_fl p strong {
  font-size: .8rem;
  color: #5A5AAD;
}

.con .con_team .lis .lis_box .lis_fl .sc {
  margin-top: .3rem;
  border-top: 1px dashed #333;
  padding-top: .3rem;
  box-sizing: border-box;
}

.con .con_team .lis .lis_box .lis_fl .sc p {
  line-height: .8rem;
  margin-top: .3rem;
}

.con .con_team .lis .lis_box .lis_fr {
  width: 30%;
  height: 5rem;
  position: absolute;
  right: -2.3rem;
  top: 1.4rem;
  text-align: center;
  background-color: #C4E1FF;
  border-radius: 50%;
}

.con .con_team .lis .lis_box .lis_fr img {
  width: 100%;
  display: block;
  border-radius: 50%;
}


.btn {
  width: 100%;
  padding: 0rem 1.1rem;
  box-sizing: border-box;
}

.btn .fl,
.btn .fr {
  width: 45%;
  background-color: #ff8000;
  border-radius: 0.4rem;
  padding: 0.266667rem;
  box-sizing: border-box;
  margin-bottom: .8rem;
  margin-top: .5rem;
}

.btn .fl a {
  letter-spacing: 0px;
}

.btn div a {
  width: 100%;
  display: block;
  text-align: center;
  font-size: .8rem;
  font-weight: 600;
  color: #fff;
}

.btn div a span {
  display: inline-block;
  width: 1.4rem;
  height: 1.2rem;
  background: url(../../images/photo_02.png)no-repeat center / 1.4rem 1.2rem;
  vertical-align: middle;
}

.btn .fr a span {
  background: url(../../images/ys.png)no-repeat center / 1.4rem 1.2rem;
  margin-right: 0.4rem;
}

.btn div:first-child a {
  margin-top: 0.133333rem;
}


.btn .fl {
  float: left;
  position: relative;
}

.btn .fr {
  float: right;
  background-color: #AE57A4;
  position: relative;
}


.btn .fl:after,
.btn .fr:after {
  position: absolute;
  width: 109%;
  height: 1.85rem;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  top: -.0rem;
  left: -.5rem;
  border-radius: 0.4rem;
  padding: 0;
  z-index: -1;
  box-shadow: 0 0 0 2px #ff8000;
  opacity: 1;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-animation: sonarEffect 1.3s ease-out 75ms infinite;
  animation: sonarEffect 1.3s ease-out 75ms infinite;
}

@-webkit-keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }

  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #FF7D00, 0 0 0 10px rgba(255, 255, 255, 0.5);
  }

  100% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #FF7D00, 0 0 0 10px rgba(255, 255, 255, 0.5);
    transform: scale(.9);
    opacity: 0;
  }
}


.btn .fr:after {
  width: 109%;
  box-shadow: 0 0 0 2px #AE57A4;
  right: 0px;
  -webkit-animation: sonarEffect2 1.3s ease-out 75ms infinite;
  animation: sonarEffect2 1.3s ease-out 75ms infinite;
}

@-webkit-keyframes sonarEffect2 {
  0% {
    opacity: 0.3;
  }

  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #AE57A4, 0 0 0 10px rgba(255, 255, 255, 0.5);
  }

  100% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #AE57A4, 0 0 0 10px rgba(255, 255, 255, 0.5);
    transform: scale(.9);
    opacity: 0;
  }
}

.clear {
  clear: both
}




/* 适配平板 */
@media only screen and (max-width: 768px) {

  .con .btn .fl:after,
  .con .btn .fr:after {
    left: -.4rem;
  }
}

/* 适配 Pixel 2 */
@media only screen and (max-width: 411px) {

  .con .btn .fr:after {
    left: -.35rem;
    height: 1.8rem;
  }
}



/* 适配 Galaxy s5 */
@media only screen and (max-width: 360px) {

  .con .btn .fl:after,
  .con .btn .fr:after {
    left: -.4rem;
  }
}



/* 适配 Photo 5s */
@media only screen and (max-width: 320px) {

  .con .btn .fl:after,
  .con .btn .fr:after {
    left: -.4rem;
  }
}